/*NavBar*/
a.brand-logo {
    font-size: 1.5rem !important;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
/*NavMenu*/
.sidenav li a {
    padding-bottom: 4rem;
    border-bottom: lightgray 1px solid;
}
.sidenav a img {
    width: 2.6rem;
    margin-top: 0.7rem;
}
/*Body*/
main h5 {
    display: flex;
    align-items: center;
    justify-content: left;
}
main h5 img {
    width: 3.5rem;
    margin-right: 20px;
}
/*Wallpaper*/

/*Save*/

/*Print*/

/*App Info*/

.off {
    background-color: #dddddd !important;
    color: #999999 !important;
}