/*NavBar*/
a.brand-logo {
    font-size: 1.5rem !important;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
/*NavMenu*/
.sidenav li a {
    padding-bottom: 4rem;
    border-bottom: lightgray 1px solid;
}
.sidenav a img {
    width: 2.6rem;
    margin-top: 0.7rem;
}
/*Body*/
main h5 {
    display: flex;
    align-items: center;
    justify-content: left;
}
main h5 img {
    width: 3.5rem;
    margin-right: 20px;
}
/*Main*/
.btn-fav, .btn-delete {
    right: 120px !important;
}

.btn-save {
    right: 72px !important;
}

/*Favorite*/

/*Setting*/

/*App Info*/

.off {
    background-color: #dddddd !important;
    color: #999999 !important;
}